[package]
name = "tun"
version = "0.6.1"
edition = "2021"

authors = ["meh. <meh@schizofreni.co>"]
license = "WTFPL"

description = "TUN device creation and handling."
repository = "https://github.com/meh/rust-tun"
keywords = ["tun", "network", "tunnel", "bindings"]

[dependencies]
byteorder = { version = "1", optional = true }
bytes = { version = "1", optional = true }
futures-core = { version = "0.3", optional = true }
libc = "0.2"
log = "0.4"
thiserror = "1"
tokio = { version = "1", features = ["net", "macros"], optional = true }
tokio-util = { version = "0.7", features = ["codec"], optional = true }

[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
nix = { version = "0.27", features = ["ioctl"] }

[target.'cfg(target_os = "windows")'.dependencies]
wintun = { version = "0.3", features = ["panic_on_unsent_packets"] }

[dev-dependencies]
futures = "0.3"
packet = "0.1"

[features]
async = ["tokio", "tokio-util", "bytes", "byteorder", "futures-core"]

[[example]]
name = "read-async"
required-features = ["async", "tokio/rt-multi-thread"]

[[example]]
name = "read-async-codec"
required-features = ["async", "tokio/rt-multi-thread"]

[[example]]
name = "ping-tun"
required-features = ["async", "tokio/rt-multi-thread"]
